a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background: url("../img/bg-img.jpg") no-repeat;
    background-size: 100% 100%;
    backdrop-filter: blur(8px);
    background-attachment: fixed;
}
.contact-body .contact-header h2{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
    color: white;
    text-shadow: 1px 1px 10px skyblue;
    font-size: 3vw;
}
.contact-body .contact-header h2:hover{
    text-shadow: 1px 1px 10px blue;
}
.contact-body .p-infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}
.contact-body .p-infoBox img{
    width: 15vw;
    height: 40vh;
    border: 1px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 5vh;
    box-shadow: 1px 1px 5px black;
}

.contact-body .p-infoBox h3{
    font-size: 3.5vw;
    color: white;
    text-shadow: 1px 1px 2px blue;
}

.contact-body .contact-card{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5vw;
    border-radius: 2vw;
    padding: 0.5vw;
    background: rgba(0,0,0,0.1);
    box-shadow: 1px 1px 7px black;
    cursor: pointer;
}
.contact-body .contact-card:hover{
    transform: scale(1.03,1.03);
}
.contact-body .contact-card p{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5vw;
}
.contact-body .contact-card i{
    margin: 3vh 0;
    color: white;
}
.contact-body .contact-card .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}
@media(max-width:768px) and (min-width:576px){
    .contact-body .p-infoBox h3{
        font-size: 2.7vw;
    }
}
@media(max-width:576px) and (min-width:450px){
    .contact-body .contact-header h2{
        font-size: 5vw;
    }
    .contact-body{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .contact-body .p-infoBox{
        display: none;
    }
    .contact-body .contact-card{
        margin: 0 1vw;
        margin-bottom: 2vh;
        

    }
    .contact-body .contact-card p{
        font-size: 2vw;
    }
}
@media(max-width:450px){
    .contact-body .contact-header h2{
        font-size: 5vw;
    }
    .contact-body{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .contact-body .p-infoBox{
        display: none;
    }
    .contact-body .contact-card{
        margin: 0 1vw;
        margin-bottom: 2vh;
    }
    .contact-body .contact-card p{
        font-size: 3vw;
    }
}